{% extends "layout.html" %}
<!--title part-->
{% block title %}Car Details{% endblock %}
<!--head part-->
{% block head %}
{{ super() }}
<style>
  #input{
      margin-left: 10px;
  }
  .card{
    margin-top:40px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border:solid 1px #5C6BC0;
  }
  .card:hover{
    box-shadow: 0 0 5px 5px #888;
    transition:ease .5s;
  }
  .card-header{
      background-color: #5C6BC0;
      text-align: center;
      color: white;
      font-size: 20px;
      border:solid 1px #5C6BC0;
    }
    #button:hover{
        box-shadow: 2px 2px rgb(0,0,0);
    }
</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
    <form action="/search_data" method="post">
{% with messages= get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
                        <p style="text-align:center;color:red;font-size:20px;">{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
    <div class="row">
        <div class="col-sm-8">
            <input type="text" class="form-control" id="input" placeholder="Search license number...." name="search" required>
        </div>
        <div class="col-sm-4">
           <button type="submit" class="btn btn-success">Search</button>
        </div>
        </div><br>

    </form>
    {% if "staff" in session and session["staff"] == True %}
        <div class="col-sm-2">
            <a href="/logout_staff"> <button type="submit" class="btn btn-success">Logout</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/online_list"> <button type="submit" class="btn btn-success">Online booking</button></a>
        </div>
    {% endif %}

</div>


{% endblock %}