{% extends "layout.html" %}
<!--title part-->
{% block title %}Car Details{% endblock %}
<!--head part-->
{% block head %}
{{ super() }}
<style>

</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
    {% with messages= get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
                        <p style="text-align:center;color:red;font-size:20px;">{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
    <form action="/search_admin_data" method="post">
    <div class="row">
        <div class="col-sm-8">
            <input type="text" class="form-control" id="input" placeholder="Search using  license number for users and Name for  staff...." name="search" required>
        </div>
        <div class="col-sm-4">
           <button type="submit" class="btn btn-success">Search</button>
        </div>
        </div><br>
    </form>

    <div class="col-sm-2">
            <a href="/logout_admin"> <button type="submit" class="btn btn-success">Logout</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/online_list"> <button type="submit" class="btn btn-success">online booking list</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/carreg_admin"> <button type="submit" class="btn btn-success">offline user reg(first time)</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/offline_user_book_admin"> <button type="submit" class="btn btn-success">regular offline user(booking)</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/usereg_admin"> <button type="submit" class="btn btn-success">user reg form (online)</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/staffreg_admin"> <button type="submit" class="btn btn-success">staff reg (form)</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/online_list_edit"> <button type="submit" class="btn btn-success">Online userlist</button></a>
        </div>
    <div class="col-sm-2">
            <a href="/offline_list_edit"> <button type="submit" class="btn btn-success">offline userlist</button></a>
        </div>
     <div class="col-sm-2">
            <a href="/staff_list_edit"> <button type="submit" class="btn btn-success">Stafflist</button></a>
        </div>
</div>


{% endblock %}